<h1>Song infor page</h1>
<label>Song title</label>
<p><%= @song.title %></p>
<label>Song artist name</label>
<p><%= @song.artist_name %></p>
<label>Song release year</label>
<p><%= @song.release_year %></p>
<label>Song genre</label>
<p><%= @song.genre %></p>
